.container {
  padding: 0rem;
  margin: 0rem;
  background-color: #00acee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
